{box-sizing: border-box;}
.TABLE table {
    font-family: Georgia;
    font-size: 130px;
}
.TABLE img {
    width: 150px;
    height: 150px;
}
h1, h2 {
    font-family: Georgia;
    text-align: center;
}
.card1 {
    display: block;
    text-align: center;
    font-size: 25px;
}
.card1 input {
    width: 300px;
    height: 20px;
}
